In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\palsj\anaconda3\lib\site-packages (4.5.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\palsj\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio~=0.17 in c:\users\palsj\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\palsj\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\palsj\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: sortedcontainers in c:\users\palsj\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\palsj\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\palsj\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: idna in c:\users\palsj\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: async-generator>=1.9 in c:\users\palsj\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\palsj\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.0.0rc9)
Requirement already satisfied: sniffio in c:\users\palsj\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\palsj\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: pycparser in c:\users\palsj\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\palsj\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\palsj\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\palsj\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

Solution 1

In [1]:
#import all the required libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [2]:
#Now we will download the webdriver for the web browser.steps for download are-
#1.click the version of your browser 
#2.Go to the link https://chromedriver.chromium.org/downloads
#3.Download the webdriver for your version of youe browser

In [3]:
#first connect to the driver
driver=webdriver.Chrome(r"C:\Users\palsj\Downloads\chromedriver.exe")

In [4]:
#opening the naukari page on automated chorme browser
driver.get("https://www.naukri.com/")

In [5]:
#Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
Designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
Designation.send_keys("Data Analyst")

In [6]:
Location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
Location.send_keys("Bangalore")

In [7]:
Search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
Search.click()

In [8]:
job_title=[]
job_location=[]
Company_name=[]
Experience_required=[]

In [9]:
#Scraping job title for the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#Scraping job location for the given page
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#Scraping Company Name for the given page
Company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in Company_tags[0:10]:
    Company=i.text
    Company_name.append(Company)
    
#Scraping job experience for the given page
Experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in Experience_tags[0:10]:
    Experience=i.text
    Experience_required.append(Experience)

In [10]:
print(len(job_title),len(job_location),len(Company_name),len(Experience_required))

10 10 10 10

Creating a dataframe from the above data

In [11]:
df=pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':Company_name,'Experience_required':Experience_required})
df

,Job_title,Job_location,Company_name,Experience_required
0,Data Analyst,Bangalore/Bengaluru,Yulu,0-2 Yrs
1,Business/Data Analyst Lead,Bangalore/Bengaluru,Johnson Controls,6-7 Yrs
2,Senior Data Analyst,Bangalore/Bengaluru,Schneider Electric,3-6 Yrs
3,Data Analyst II,Bangalore/Bengaluru,Uber,2-7 Yrs
4,Senior Data Analyst | Fortune500 Banking Company,Bangalore/Bengaluru,Talent500,4-9 Yrs
5,Reference Data Analyst,Bangalore/Bengaluru,Deutsche Bank,0-6 Yrs
6,Senior Data Analyst,"Temp. WFH - Bangalore/Bengaluru, Hyderabad/Sec...",Inspire Analytics,3-5 Yrs
7,Reference Data Analyst,Bangalore/Bengaluru,Deutsche Bank,3-6 Yrs
8,Senior Data Analyst,Hybrid - Bangalore/Bengaluru,ABInBev,4-8 Yrs
9,Senior Data Analyst,Bangalore/Bengaluru,Thomson Reuters,4-6 Yrs

Solution 2

In [12]:
#import all the required libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [13]:
#Now we will download the webdriver for the web browser.steps for download are-
#1.click the version of your browser 
#2.Go to the link https://chromedriver.chromium.org/downloads
#3.Download the webdriver for your version of youe browser

In [14]:
#first connect to the driver
driver=webdriver.Chrome(r"C:\Users\palsj\Downloads\chromedriver.exe")

In [15]:
#opening the naukari page on automated chorme browser
driver.get("https://www.naukri.com/")

In [16]:
#Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
Designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
Designation.send_keys("Data Scientist")

In [17]:
Location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
Location.send_keys("Bangalore")

In [18]:
Search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
Search.click()

In [19]:
job_titles=[]
job_location=[]
Company_name=[]

In [20]:
#Scraping job title for the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_titles.append(title)

In [21]:
#Scraping job location for the given page
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [22]:
#Scraping Company Name for the given page
Company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in Company_tags[0:10]:
    Company=i.text
    Company_name.append(Company)

In [23]:
print(len(job_location),len(Company_name),len(job_titles))

10 10 10

Creating a dataframe from the above data

In [24]:
df=pd.DataFrame({'Job_title':job_titles,'Job_location':job_location,'Company_name':Company_name,})
df

,Job_title,Job_location,Company_name
0,Data Scientist,"Bangalore/Bengaluru, New Delhi, Hyderabad/Secu...",Tata Nexarc
1,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
2,Data Scientist,"Hybrid - Bangalore/Bengaluru, Noida, Kolkata, ...",Mindtree
3,Senior Analyst-Data Science,Bangalore/Bengaluru,Accenture
4,Technical Expert - AI & Industrial Data Science,Bangalore/Bengaluru,Siemens
5,Data Scientist - II,"Bangalore/Bengaluru, India, Mumbai (All Areas)",Bizongo
6,Lead ML Scientist,"Bangalore/Bengaluru, Mumbai",Fractal Analytics
7,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai",Baker Hughes
8,Lead Data Scientist,Bangalore/Bengaluru,Yulu
9,Decision Science,Bangalore/Bengaluru,Fractal Analytics

Solution 3

In [25]:
#import all the required libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [26]:
#Now we will download the webdriver for the web browser.steps for download are-
#1.click the version of your browser 
#2.Go to the link https://chromedriver.chromium.org/downloads
#3.Download the webdriver for your version of youe browser

In [27]:
#first connect to the driver
driver=webdriver.Chrome(r"C:\Users\palsj\Downloads\chromedriver.exe")

In [28]:
#opening the naukari page on automated chorme browser
driver.get("https://www.naukri.com/")

In [29]:
#Enter “Data Scientist” in “Skill, Designations, Companies” field.
Designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
Designation.send_keys("Data Scientist")

In [30]:
Location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
Location.send_keys("Delhi/NCR")

In [31]:
Search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
Search.click()

In [32]:
Search=driver.find_element(By.XPATH,'//div[@class="mt-8 chckBoxCont"]')
Search.click()

In [33]:
job_title=[]
job_location=[]
Company_name=[]
Experience_required=[]

In [34]:
#Scraping job title for the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#Scraping job location for the given page
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#Scraping Company Name for the given page
Company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in Company_tags[0:10]:
    Company=i.text
    Company_name.append(Company)
    
#Scraping job experience for the given page
Experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in Experience_tags[0:10]:
    Experience=i.text
    Experience_required.append(Experience)

In [35]:
print(len(job_title),len(job_location),len(Company_name),len(Experience_required))

10 10 10 10

Creating a dataframe from the above data

In [36]:
df=pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':Company_name,'Experience_required':Experience_required})
df

,Job_title,Job_location,Company_name,Experience_required
0,Diversity Drive_Capco,"Hybrid - Pune, Bangalore/Bengaluru, Mumbai (Al...",Capco,0-0 Yrs
1,Urgent Opening For Angular (10 to14 versions) ...,"Kolkata, Visakhapatnam, Hyderabad/Secunderabad...",Tech Mahindra,3-7 Yrs
2,HCL TECH - Opening For Python,"Hybrid - Kolkata, Hyderabad/Secunderabad, Pune...",HCLTech,5-9 Yrs
3,HCL TECH - Opening For Collibra,"Hybrid - Kolkata, Hyderabad/Secunderabad, Pune...",HCLTech,7-10 Yrs
4,HCL TECH - Opening For Kafka,"Hybrid - Kolkata, Hyderabad/Secunderabad, Pune...",HCLTech,5-9 Yrs
5,HCL TECH - Opening For Hyperion DRM,"Hybrid - Kolkata, Hyderabad/Secunderabad, Pune...",HCLTech,5-10 Yrs
6,HCL TECH - Opening For Hyperion developer,"Hybrid - Kolkata, Hyderabad/Secunderabad, Pune...",HCLTech,5-10 Yrs
7,Content Lead - Manager,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,8-13 Yrs
8,Sales Operations Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,2-5 Yrs
9,Content Developer Associate Manager,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,5-10 Yrs

Solution 4

In [37]:
#import all the required libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [38]:
#Now we will download the webdriver for the web browser.steps for download are-
#1.click the version of your browser 
#2.Go to the link https://chromedriver.chromium.org/downloads
#3.Download the webdriver for your version of youe browser

In [39]:
#first connect to the driver
driver=webdriver.Chrome(r"C:\Users\palsj\Downloads\chromedriver.exe")

In [40]:
#opening the flipkart page on automated chorme browser
driver.get("https://www.flipkart.com/")

In [41]:
#Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
Product=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
Product.send_keys("sunglasses")

In [42]:
Search=driver.find_element(By.CLASS_NAME,"_34RNph")
Search.click()

In [43]:
Brand_tags=[]

In [44]:
start=0
end=3
for page in range(start,end):
    tags= driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for i in tags:
        Brand_tags.append(i.text)
    next_button=driver.find_element(By.XPATH,"//a[@class='_1LKTO3']")
    next_button.click()
    time.sleep(3)

In [45]:
print(len(Brand_tags))

120

In [46]:
Product_Description=[]

In [47]:
start=0
end=3
for page in range(start,end):
    tags= driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    for i in tags:
        Product_Description.append(i.text)
    next_button=driver.find_element(By.XPATH,"//a[@class='_1LKTO3']")
    next_button.click()
    time.sleep(3)

In [48]:
print(len(Product_Description))

119

In [49]:
Price_tags=[]

In [50]:
start=0
end=3
for page in range(start,end):
    tags= driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for i in tags:
        Price_tags.append(i.text)
    next_button=driver.find_element(By.XPATH,"//a[@class='_1LKTO3']")
    next_button.click()
    time.sleep(3)

In [51]:
print(len(Price_tags))

120

In [52]:
print(len(Brand_tags),len(Product_Description),len(Price_tags))

120 119 120

Creating a dataframe from the above data

In [53]:
df=pd.DataFrame({'Brand_tags':Brand_tags[0:100],'Product_Description':Product_Description[0:100],'Price_tags':Price_tags[0:100]})
df

,Brand_tags,Product_Description,Price_tags
0,VINCENT CHASE,"UV Protection, Mirrored Spectacle Sunglasses (...",₹849
1,VINCENT CHASE,"by Lenskart Polarized, UV Protection Round Sun...",₹599
2,Fastrack,UV Protection Rectangular Sunglasses (56),₹599
3,Elligator,"Mirrored, Night Vision, UV Protection, Riding ...",₹149
4,SRPM,UV Protection Wayfarer Sunglasses (Free Size),₹149
...,...,...,...
95,Fastrack,"Polarized, UV Protection Wayfarer Sunglasses (...",₹479
96,VINCENT CHASE,"Mirrored, Riding Glasses, UV Protection Sports...",₹616
97,ROZZETTA CRAFT,"Riding Glasses, UV Protection, Night Vision Sp...",₹323
98,SRPM,UV Protection Aviator Sunglasses (Free Size),₹199
99,PIRASO,"by Lenskart Polarized, UV Protection Retro Squ...",₹209

Solution 5

In [54]:
#import all the required libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [55]:
#Now we will download the webdriver for the web browser.steps for download are-
#1.click the version of your browser 
#2.Go to the link https://chromedriver.chromium.org/downloads
#3.Download the webdriver for your version of youe browser

In [56]:
#first connect to the driver
driver=webdriver.Chrome(r"C:\Users\palsj\Downloads\chromedriver.exe")

In [57]:
#opening the naukari page on automated chorme browser
driver.get("https://www.flipkart.com/")

In [58]:
#Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
Product=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
Product.send_keys("iphone 11")

In [59]:
Search=driver.find_element(By.CLASS_NAME,"_34RNph")
Search.click()

In [61]:
Search=driver.find_element(By.CLASS_NAME,"_4rR01T")
Search.click()

In [62]:
rating_tags=[]

In [63]:
rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags[0:100]:
    Rating=i.text
    rating_tags.append(Rating)

In [64]:
len(rating_tags)

16

In [65]:
Reviewsummary_tags=[]

In [67]:
Reviewsummary_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in Reviewsummary_tags[0:100]:
    Review=i.text
    Reviewsummary_tags.append(Review)

In [68]:
len(Reviewsummary_tags)

16

In [70]:
FullReviewsummary_tags=[]

In [71]:
FullReviewsummary_tags=driver.find_elements(By.XPATH,'//p[@class="_1H-bmy"]')
for i in FullReviewsummary_tags[0:100]:
    FullReview=i.text
    FullReviewsummary_tags.append(FullReview)

In [72]:
len(Reviewsummary_tags)

16

Creating a dataframe from the above data

In [73]:
df=pd.DataFrame({'Rating':rating_tags,'Reviews':Reviewsummary_tags,'Full_Review':Reviewsummary_tags})
df

,Rating,Reviews,Full_Review
0,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
1,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
2,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
3,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
4,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
5,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
6,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
7,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
8,5,Perfect product!,Perfect product!
9,5,Terrific,Terrific
10,5,Fabulous!,Fabulous!
11,5,Great product,Great product
12,5,Simply awesome,Simply awesome
13,5,Just wow!,Just wow!
14,4,Good quality product,Good quality product
15,5,Perfect product!,Perfect product!

Solution 6

In [74]:
#import all the required libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [75]:
#Now we will download the webdriver for the web browser.steps for download are-
#1.click the version of your browser 
#2.Go to the link https://chromedriver.chromium.org/downloads
#3.Download the webdriver for your version of youe browser

In [76]:
#first connect to the driver
driver=webdriver.Chrome(r"C:\Users\palsj\Downloads\chromedriver.exe")

In [77]:
#opening the flipkart page on automated chorme browser
driver.get("https://www.flipkart.com/")

In [78]:
#Enter "sneakers" in the search field where “search for products, brands and more” is written and click the search icon
Product=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
Product.send_keys("sneakers")

In [79]:
Search=driver.find_element(By.CLASS_NAME,"_34RNph")
Search.click()

In [80]:
brand_tags=[]

In [81]:
start=0
end=3
for page in range(start,end):
    tags= driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for i in tags:
        brand_tags.append(i.text)
    next_button=driver.find_element(By.XPATH,"//a[@class='_1LKTO3']")
    next_button.click()
    time.sleep(3)

In [82]:
len(brand_tags)

120

In [83]:
Product_tags=[]

In [84]:
start=0
end=3
for page in range(start,end):
    tags= driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    for i in tags:
        Product_tags.append(i.text)
    next_button=driver.find_element(By.XPATH,"//a[@class='_1LKTO3']")
    next_button.click()
    time.sleep(3)

In [85]:
len(Product_tags)

116

In [86]:
Price_tags=[]

In [87]:
start=0
end=3
for page in range(start,end):
    tags= driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for i in tags:
        Price_tags.append(i.text)
    next_button=driver.find_element(By.XPATH,"//a[@class='_1LKTO3']")
    next_button.click()
    time.sleep(3)

In [88]:
len(Price_tags)

120

In [89]:
off_tags=[]

In [90]:
start=0
end=3
for page in range(start,end):
    tags= driver.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']")
    for i in tags:
        off_tags.append(i.text)
    next_button=driver.find_element(By.XPATH,"//a[@class='_1LKTO3']")
    next_button.click()
    time.sleep(3)

In [91]:
len(off_tags)

120

In [92]:
print(len(brand_tags),(Product_tags),(Price_tags),(off_tags))

120 ['Sneakers For Men', 'Sneakers For Men', 'Sneakers For Women', 'Mesh Sneakers For Men', 'Sneakers For Men', 'Combo Pack Of 2 Latest Stylish Casual Shoes for Men Lac...', 'Sneakers Dancing Shoes/Street Dancing Shoe For Men/R.T....', 'Combo Pack of 5 Casual Sneakers Sneakers For Men', '2 Combo Sneaker Shoes Sneakers For Men', 'CR-1 Sneakers For Men', 'Jada Night Out Sneakers For Women', 'Men’s Premium Style High Top Platform Fashion Sneakers|...', '2 Combo Sneaker Shoes Sneakers For Men', 'Sneakers Shoes For Men Black Sneakers For Men', 'Casual Sneakers Shoes For Men Sneakers For Men', 'Sneakers For Men', 'Unique & Perfect Combo Pack of 02 Pair Casual Sneaker C...', 'Sneakers For Men', 'Lightweight Pack Of 1 Trendy Sneakers Sneakers Sneakers...', 'Trinity Sneakers For Men', 'CAMP CLINT Sneakers For Men', 'Jasper-02 Black Casuals,Walking,Training,Running,Stylis...', 'Sneakers For Women', 'Sneakers For Men', 'Premium Casual Shoes for Men Sneakers For Men', 'Sneakers For Men', 'Synthetic Leather Sneakers For Men', 'Men’s Premium Style High Top Platform Fashion Sneakers|...', 'Sneakers For Men', 'Sneakers For Men', 'Men High Top Fashion Sneakers/sports/Ankle casual Shoes...', 'BMW MMS Electron E Sneakers For Men', 'Casuals, Canvas, Partywear Sneakers For Men', 'Stylish and Trendy New Design Lightweight,Casual shoes ...', 'Kzaara Sneakers Casual Canvas shoes | Branded Stylish O...', 'Sneakers For Men', 'Sneakers For Men', '373 Sneakers For Men', 'New Branded Casual Sneakers Sneakers For Men', 'Sneakers For Men', 'GEL-1130 Sneakers For Men', 'Trenddy Fashion Sporty Running Shoes Sneakers For Men', 'Casual Sneakers Green Shoes For Men And Boys Sneakers F...', 'Sneakers For Men', 'Modern Trendy Sneakers Shoes Sneakers For Men', 'Sneakers For Men', 'Lightweight Pack Of 1 Trendy Sneakers Sneakers For Men', 'Mesh | Ultralightweight | Comfortable | Breathable Walk...', 'Stylish Comfortable Lightweight, Breathable Casual Shoe...', 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'CR-1 Sneakers For Men', 'Pint Sneakers For Men', 'Stylish Comfortable Lightweight, Breathable Casual Shoe...', 'Casual Sneakers For Men', 'Sneakers For Women', 'Sneakers For Women', 'Sneakers For Men', 'Breathable, Walking, Running, Casual, Gym Shoes Sneaker...', 'Sneakers For Men', 'Lattest Sneakers Shoe Sneakers For Men', 'White Sneaker For Men Sneakers For Men', 'Achiever-11 White Casuals,Loafers,Walking, Sneakers For...', 'Achiever-12 White Sneakers,Loafers,Casuals,Synthetic Sn...', '350 smart grey lace-ups casual for men Sneakers For Men', 'Sneakers For Women', 'Sneakers For Men', 'Sneakers For Men', 'Exclusive Sneaker Shoes Sneakers For Men', '2 Combo Sneaker Shoes Sneakers For Men', 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...', 'Pacer Fire Sneakers For Men', 'Zebx Victory-5 Sneakers For Men Sneakers For Men', 'CR-1 Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Women', 'Mesh Sneakers For Men', 'Sneakers For Men', 'Combo Pack Of 2 Latest Stylish Casual Shoes for Men Lac...', 'Sneakers For Men', 'Sneakers Dancing Shoes/Street Dancing Shoe For Men/R.T....', '2 Combo Sneaker Shoes Sneakers For Men', 'CR-1 Sneakers For Men', 'Women Sneaker Casual Shoes Sneakers For Women', 'Women Sneaker Casual Shoes Sneakers For Women', '2 Combo Sneaker Shoes Sneakers For Men', 'Sneakers Shoes For Men Black Sneakers For Men', 'Casual Sneakers Shoes For Men Sneakers For Men', 'Sneakers For Men', 'Women Sneaker Casual Shoes Sneakers For Women', 'Stylish Comfortable Lightweight, Breathable Casual Shoe...', 'Lightweight Pack Of 1 Trendy Sneakers Sneakers Sneakers...', 'Trinity Sneakers For Men', 'Combo Pack of 5 Casual Sneakers Sneakers For Men', 'Jada Night Out Sneakers For Women', 'Sneakers For Women', 'Sneakers For Men', 'Premium Casual Shoes for Men Sneakers For Men', 'Sneakers For Men', 'Men’s Premium Style High Top Platform Fashion Sneakers|...', 'Unique & Perfect Combo Pack of 02 Pair Casual Sneaker C...', 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'CAMP CLINT Sneakers For Men', 'Casuals, Canvas, Partywear Sneakers For Men', 'Stylish and Trendy New Design Lightweight,Casual shoes ...', 'Kzaara Sneakers Casual Canvas shoes | Branded Stylish O...', 'Sneakers For Men', 'Jasper-02 Black Casuals,Walking,Training,Running,Stylis...', 'MAPF1 R-Cat Machina Sneakers For Men', 'Sneakers For Men', '373 Sneakers For Men'] ['₹494', '₹199', '₹4,799', '₹249', '₹349', '₹299', '₹229', '₹549', '₹179', '₹299', '₹499', '₹299', '₹299', '₹349', '₹299', '₹229', '₹2,096', '₹471', '₹299', '₹199', '₹379', '₹849', '₹298', '₹229', '₹229', '₹339', '₹2,579', '₹599', '₹299', '₹179', '₹664', '₹539', '₹362', '₹298', '₹499', '₹499', '₹299', '₹299', '₹229', '₹199', '₹359', '₹399', '₹295', '₹299', '₹359', '₹499', '₹565', '₹399', '₹499', '₹229', '₹969', '₹2,399', '₹499', '₹169', '₹299', '₹1,249', '₹565', '₹699', '₹179', '₹1,853', '₹299', '₹1,979', '₹299', '₹299', '₹299', '₹557', '₹842', '₹499', '₹299', '₹389', '₹565', '₹570', '₹499', '₹249', '₹199', '₹298', '₹5,949', '₹499', '₹398', '₹3,010', '₹494', '₹199', '₹4,799', '₹249', '₹349', '₹299', '₹229', '₹549', '₹179', '₹299', '₹499', '₹2,321', '₹299', '₹349', '₹299', '₹229', '₹299', '₹1,799', '₹299', '₹199', '₹471', '₹379', '₹298', '₹229', '₹229', '₹339', '₹664', '₹2,695', '₹299', '₹179', '₹499', '₹299', '₹362', '₹298', '₹499', '₹499', '₹1,811', '₹481', '₹229', '₹199'] ['64% off', '60% off', '70% off', '70% off', '82% off', '80% off', '62% off', '60% off', '80% off', '61% off', '61% off', '60% off', '80% off', '66% off', '70% off', '75% off', '56% off', '61% off', '70% off', '47% off', '62% off', '10% off', '70% off', '70% off', '70% off', '44% off', '43% off', '75% off', '70% off', '61% off', '56% off', '71% off', '50% off', '75% off', '80% off', '70% off', '15% off', '77% off', '60% off', '56% off', '67% off', '90% off', '40% off', '75% off', '65% off', '80% off', '82% off', '45% off', '70% off', '85% off', '68% off', '46% off', '70% off', '65% off', '70% off', '61% off', '40% off', '10% off', '80% off', '60% off', '52% off', '62% off', '70% off', '77% off', '82% off', '58% off', '66% off', '50% off', '85% off', '64% off', '50% off', '70% off', '72% off', '77% off', '80% off', '85% off', '59% off', '80% off', '61% off', '80% off', '64% off', '60% off', '70% off', '70% off', '82% off', '80% off', '62% off', '60% off', '80% off', '61% off', '61% off', '60% off', '80% off', '66% off', '70% off', '75% off', '56% off', '61% off', '70% off', '47% off', '62% off', '10% off', '70% off', '70% off', '70% off', '44% off', '43% off', '75% off', '70% off', '61% off', '56% off', '71% off', '50% off', '75% off', '80% off', '70% off', '15% off', '77% off', '60% off', '56% off']

Creating a dataframe from the above data

In [93]:
df=pd.DataFrame({'Brand':brand_tags[0:100],'Product':Product_tags[0:100],'Price':Price_tags[0:100],'Discount':off_tags[0:100]})
df

,Brand,Product,Price,Discount
0,aadi,Sneakers For Men,₹494,64% off
1,K- FOOTLANCE,Sneakers For Men,₹199,60% off
2,SFR,Sneakers For Women,"₹4,799",70% off
3,Robbie jones,Mesh Sneakers For Men,₹249,70% off
4,Deals4you,Sneakers For Men,₹349,82% off
...,...,...,...,...
95,HOTSTYLE,Trinity Sneakers For Men,₹229,75% off
96,BIRDE,Combo Pack of 5 Casual Sneakers Sneakers For Men,₹299,56% off
97,Chevit,Jada Night Out Sneakers For Women,"₹1,799",61% off
98,TR,Sneakers For Women,₹299,70% off
99,BIRDE,Sneakers For Men,₹199,47% off

Solution 7

In [94]:
#import all the required libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [95]:
#Now we will download the webdriver for the web browser.steps for download are-
#1.click the version of your browser 
#2.Go to the link https://chromedriver.chromium.org/downloads
#3.Download the webdriver for your version of youe browser

In [96]:
#first connect to the driver
driver=webdriver.Chrome(r"C:\Users\palsj\Downloads\chromedriver.exe")

In [97]:
#opening the myntra page on automated chorme browser
driver.get("https://www.myntra.com/shoes")

In [98]:
#colour filter to Black
Search=driver.find_element(By.XPATH,'//label[@class="common-customCheckbox"]')
Search.click()

In [99]:
brand_tags=[]

In [100]:
start=0
end=2
for page in range(start,end):
    tags= driver.find_elements(By.XPATH,"//h3[@class='product-brand']")
    for i in tags:
        brand_tags.append(i.text)
    next_button=driver.find_element(By.XPATH,"//li[@class='pagination-next']")
    next_button.click()
    time.sleep(3)

In [101]:
len(brand_tags)

100

In [102]:
discription_tags=[]

In [103]:
start=0
end=2
for page in range(start,end):
    tags= driver.find_elements(By.XPATH,"//h4[@class='product-product']")
    for i in tags:
        discription_tags.append(i.text)
    next_button=driver.find_element(By.XPATH,"//li[@class='pagination-next']")
    next_button.click()
    time.sleep(3)

In [104]:
len(discription_tags)

100

In [105]:
Price_tags=[]

In [106]:
start=0
end=3
for page in range(start,end):
    tags= driver.find_elements(By.XPATH,"//span[@class='product-discountedPrice']")
    for i in tags:
        Price_tags.append(i.text)
    next_button=driver.find_element(By.XPATH,"//li[@class='pagination-next']")
    next_button.click()
    time.sleep(3)

In [107]:
len(Price_tags)

138

Creating a dataframe from the above data

In [108]:
df=pd.DataFrame({'Brand':brand_tags,'discription':discription_tags,'Price':Price_tags[0:100]})
df

                    Brand                     discription     Price
0                Red Tape              Men Solid Sneakers  Rs. 6475
1                    Puma              Men Trekking Shoes   Rs. 799
2                    Nike    Men BRONEL 3.0 Walking Shoes  Rs. 4674
3                    Puma  Men Ultraboost 5.0 DNA Running  Rs. 2249
4                Red Tape  Men AIR WINFLO 9 Running Shoes   Rs. 699
..                    ...                             ...       ...
95                Harvard               Men Running Shoes  Rs. 1598
96  HRX by Hrithik Roshan  Women Textured PU Penny Loafer  Rs. 1999
97               Roadster         Men Solid Slip-On Shoes  Rs. 4840
98                   Puma               Men Running Shoes  Rs. 4249
99                   Nike   Men Non-Marking Running Shoes  Rs. 4949

[100 rows x 3 columns]

Solution 8

In [109]:
#import all the required libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [110]:
#first connect to the driver
driver=webdriver.Chrome(r"C:\Users\palsj\Downloads\chromedriver.exe")

In [111]:
#opening the amazon page on automated chorme browser
driver.get("https://www.amazon.in/")

In [112]:
# Enter laptop in search feild and than click on search
Product=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
Product.send_keys("Laptop")

In [113]:
Search=driver.find_element(By.CLASS_NAME,"nav-right")
Search.click()

In [114]:
# set cup type intel core i7
Search=driver.find_element(By.XPATH,'//i[@class="a-icon a-icon-checkbox"]')
Search.click()

In [115]:
laptop_title=[]
laptop_rating=[]
laptop_price=[]

In [116]:
#Scraping laptop title for the given page
title_tags=driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for i in title_tags[0:10]:
    title=i.text
    laptop_title.append(title)
    
#Scraping laptops ratings for the given page
rating_tags=driver.find_elements(By.XPATH,'//i[@class="a-icon a-icon-star-small a-star-small-4 aok-align-bottom"]')
for i in rating_tags[0:10]:
    rating=i.text
    laptop_rating.append(rating)
    
#Scraping laptop price for the given page
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags[0:10]:
    price=i.text
    laptop_price.append(price)

In [117]:
print(len(laptop_title),len(laptop_rating),len(laptop_price))

10 10 10

Creating a dataframe from the above data

In [118]:
df=pd.DataFrame({'Title':laptop_title,'Ratings':laptop_rating,'Price':laptop_price})
df

                                               Title Ratings   Price
0  Lenovo IdeaPad Slim 5 AMD Ryzen 7 5700U 15.6"(...          65,817
1  Lenovo IdeaPad Flex 5 AMD Ryzen 5 5500U 14" (3...          69,000
2  Lenovo IdeaPad Slim 3 Intel Celeron N4020 4th ...          27,140
3  Lenovo IdeaPad Slim 1 Intel Celeron N4020 4th ...          23,100
4  (Renewed) Lenovo Thinkpad L450 5th Gen Intel C...          17,899
5  (Renewed) Lenovo Thinkpad T460 14 Inches Lapto...          19,388
6  Lenovo IdeaPad D330 Intel Celeron N4020 10.1" ...          21,797
7  (Renewed) Lenovo Thinkpad L450 5th Gen Intel C...          16,105
8  Lenovo ThinkBook 15 AMD Ryzen 3 5300U 15.6" (3...          36,990
9  (Renewed) Lenovo ThinkPad E470 7th Gen Intel C...          16,999

Solution 10

In [119]:
#import all the required libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [120]:
#first connect to the driver
driver=webdriver.Chrome(r"C:\Users\palsj\Downloads\chromedriver.exe")

In [121]:
#opening the ambitionbox page on automated chorme browser
driver.get("https://www.ambitionbox.com/")

In [122]:
Search=driver.find_element(By.XPATH,'//li[@class="navItem"]')
Search.click()

In [123]:
Search=driver.find_element(By.XPATH,'//i[@class="icon-chevron-right"]')
Search.click()

In [124]:
Search=driver.find_element(By.XPATH,'//p[@class="subNavDescription"]')
Search.click()

In [130]:
# Enter Data Scientist in search feild and than click on search
Product=driver.find_element(By.XPATH,"/html/body/div[2]/div/div/main/section[1]/div[2]/div[1]/span/input")
Product.send_keys("Data Scientist")

In [133]:
Search=driver.find_element(By.XPATH,'//div[@class="suggestion_wrap tt-suggestion tt-selectable"]')
Search.click()

ElementNotInteractableException: Message: element not interactable
  (Session info: chrome=107.0.5304.107)
Stacktrace:
Backtrace:
	Ordinal0 [0x00BAACD3+2075859]
	Ordinal0 [0x00B3EE61+1633889]
	Ordinal0 [0x00A3B680+571008]
	Ordinal0 [0x00A6BBD6+768982]
	Ordinal0 [0x00A61C76+728182]
	Ordinal0 [0x00A8731C+881436]
	Ordinal0 [0x00A615BF+726463]
	Ordinal0 [0x00A87534+881972]
	Ordinal0 [0x00A9B56A+963946]
	Ordinal0 [0x00A87136+880950]
	Ordinal0 [0x00A5FEFD+720637]
	Ordinal0 [0x00A60F3F+724799]
	GetHandleVerifier [0x00E5EED2+2769538]
	GetHandleVerifier [0x00E50D95+2711877]
	GetHandleVerifier [0x00C3A03A+521194]
	GetHandleVerifier [0x00C38DA0+516432]
	Ordinal0 [0x00B4682C+1665068]
	Ordinal0 [0x00B4B128+1683752]
	Ordinal0 [0x00B4B215+1683989]
	Ordinal0 [0x00B56484+1729668]
	BaseThreadInitThunk [0x75E86739+25]
	RtlGetFullPathName_UEx [0x770C8FD2+1218]
	RtlGetFullPathName_UEx [0x770C8F9D+1165]

In [129]:
Company_tage=[]

In [ ]:
#Scraping Company name for the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class=""]')
for i in title_tags[0:10]:
    title=i.text
    Company_tage.append(title)